<table class="table table-bordered table-hover table-investments">
	<thead class="thead-inverse">
		<tr>
			<th>Total Investment</th>
			<th>Future Value</th>
			<th colspan="2"></th>
		</tr>
	</thead>

	<tbody>
		<%= render @investments %>
	</tbody>
</table>
