<div>
	<%= form_with model: @article, local: true do |form| %>
		<div class="form-group row">
			<%= form.label :url, class: 'col-sm-2 col-form-label' %>
			<div class="col-sm-10">
				<%= form.text_field :url, required: true, class: 'form-control' %>
			</div>
		</div>

		<div class="row">
			<%= form.submit 'Share Article', class: 'btn btn-primary mx-auto' %>
		</div>
	<% end %>	
</div>
