<div>
	<div>
		<div>
			Share article
		</div>
		<div>
			<%= render partial: '/articles/share' %>
		</div>
	</div>

	<div>
		<div>
			Create article
		</div>
		<div>
			<%= render partial: '/articles/form' %>
		</div>
	</div>
</div>