<div class="card-group card-new-article flex-column m-3">
	<div class="card">
		<div class="card-body">
			<h2 class="card-title">Share article</h2>
			<%= render partial: '/articles/share' %>
		</div>
	</div>

	<div class="card">
		<div class="card-body">
			<h2 class="card-title">Create article</h2>
			<%= render partial: '/articles/form' %>
		</div>
	</div>
</div>