/* line 1, /home/leesc/Documents/code/NEXT/final_assessment/money_matters/app/assets/stylesheets/footer.scss */
.footer {
  background-color: #000;
}
/* line 3, /home/leesc/Documents/code/NEXT/final_assessment/money_matters/app/assets/stylesheets/footer.scss */
.footer .bg-circle-outline {
  width: 50px;
  height: 50px;
  color: smoke;
  padding: 8px 2px;
  border: 2px solid;
  border-color: smoke;
  border-radius: 50%;
}

/* line 1, /home/leesc/Documents/code/NEXT/final_assessment/money_matters/app/assets/stylesheets/theme.scss */
[class*='-facebook'] {
  background-color: #3b5998;
  color: #fff;
}

/* line 5, /home/leesc/Documents/code/NEXT/final_assessment/money_matters/app/assets/stylesheets/users.scss */
.card-sign-up {
  width: 20rem;
}

@media (min-width: 768px) {
  /* line 10, /home/leesc/Documents/code/NEXT/final_assessment/money_matters/app/assets/stylesheets/users.scss */
  .card-edit-profile {
    width: 35rem;
  }
}

/* line 1, /home/leesc/Documents/code/NEXT/final_assessment/money_matters/app/assets/stylesheets/sessions.scss */
.card-sign-in {
  width: 20rem;
}

/* line 3, /home/leesc/Documents/code/NEXT/final_assessment/money_matters/app/assets/stylesheets/investments.scss */
.table-investments th, .table-investments td {
  text-align: center;
}

/* line 10, /home/leesc/Documents/code/NEXT/final_assessment/money_matters/app/assets/stylesheets/investments.scss */
.card-investment #show_piechart {
  width: 48rem;
  height: 35rem;
}

@media (min-width: 768px) {
  /* line 18, /home/leesc/Documents/code/NEXT/final_assessment/money_matters/app/assets/stylesheets/investments.scss */
  #results_ajax .card {
    width: 30rem;
  }
}
/* line 24, /home/leesc/Documents/code/NEXT/final_assessment/money_matters/app/assets/stylesheets/investments.scss */
#results_ajax #new_piechart {
  width: 44rem;
  height: 44rem;
}

@media (min-width: 768px) {
  /* line 31, /home/leesc/Documents/code/NEXT/final_assessment/money_matters/app/assets/stylesheets/investments.scss */
  .card-new-investment {
    width: 44rem;
  }
}

@media (min-width: 992px) {
  /* line 1, /home/leesc/Documents/code/NEXT/final_assessment/money_matters/app/assets/stylesheets/articles.scss */
  .card-article {
    width: 55rem;
  }
}

@media (min-width: 768px) {
  /* line 7, /home/leesc/Documents/code/NEXT/final_assessment/money_matters/app/assets/stylesheets/articles.scss */
  .card-new-article {
    width: 44rem;
  }
}

/* line 8, /home/leesc/Documents/code/NEXT/final_assessment/money_matters/app/assets/stylesheets/application.scss */
html {
  height: 100%;
}
/* line 10, /home/leesc/Documents/code/NEXT/final_assessment/money_matters/app/assets/stylesheets/application.scss */
html body {
  height: 100%;
  display: flex;
  flex-direction: column;
}
/* line 14, /home/leesc/Documents/code/NEXT/final_assessment/money_matters/app/assets/stylesheets/application.scss */
html body .content {
  flex: 1 0 auto;
}
