@import 'footer';
@import 'theme';
@import 'users';
@import 'sessions';
@import 'password_resets';
@import 'investments';
@import 'articles';

html {
	height: 100%;
	body {
		height: 100%;
		display: flex;
		flex-direction: column;
		.content {
			flex: 1 0 auto;
		}
	}
}

