.card-news-api {
	.date {
		font-size: 0.95rem;
	}
}

.card-article {
	@media (min-width: 992px) {
		width: 55rem;
	}
	.card-body {
		.date {
			font-size: 0.95rem;
		}
		.btn {
			white-space: normal;
		}
	}
}

.card-new-article {
	@media (min-width: 768px) {
		width: 44rem;	
	}
}
