// index
.table-investments {
	th, td {
		text-align: center;
	}
}

// show
.card-investment {
	@media (min-width: 768px) {
		width: 44rem;	
	}
}

// new
.card-new-investment {
	@media (min-width: 768px) {
		width: 44rem;	
	}
}
