// index
.table-investments {
	th, td {
		text-align: center;
	}
}

// show
.card-investment {
	@media (min-width: 768px) {
		#show_piechart {
			width: 48rem;
			height: 25rem;
		}
	}
}

// ajax
#results_ajax {
	.card {
		@media (min-width: 768px) {
			width: 25rem;	
		}
	}
	
	#new_piechart {
		width: 25rem;
		height: 20rem;
	}
}

// new
.card-new-investment {
	@media (min-width: 768px) {
		width: 44rem;	
	}
}
