<div class="container-fluid footer py-3">
	<div class="container">
		<div class="row py-3">
			<div class="col-md-9">
				<!-- Write something -->
			</div>
			<div class="col-md-3">
				<div class="d-inline-block">
					<div class="bg-circle-outline d-inline-block">
						<%= link_to 'https://github.com/leesc22', target: '_blank', class: 'text-white' do %>
							<i class="fa fa-2x fa-fw fa-github"></i>
						<% end %>
					</div>
					<div class="bg-circle-outline d-inline-block">
						<%= link_to 'https://www.linkedin.com/in/siew-ching-lee-81683156/', target: '_blank', class: 'text-white' do %>
							<i class="fa fa-2x fa-fw fa-linkedin"></i>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>